.help-block-error {
	color: red;
	font-size: 12px;
}

.navbar-main ul.nav li a:hover, .navbar-main ul.nav li.active a {
	color: #ff6129;
    border-bottom: solid 2px #ff6129;
    text-decoration: none;
}

.overflow-text {
 	display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

/* Absolute Center Spinner */
.overlay {
  position: fixed;
  z-index: 9999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

/* Transparent Overlay */
.overlay:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
}

/* :not(:required) hides these rules from IE9 and below */
.overlay:not(:required) {
  /* hide "overlay..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.overlay:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  height:60px;
  width:60px;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left:6px solid rgba(0,174,239,.15);
  border-right:6px solid rgba(0,174,239,.15);
  border-bottom:6px solid rgba(0,174,239,.15);
  border-top:6px solid rgba(0,174,239,.8);
  border-radius:100%;

}

/* Animation */

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}

.post-image-container-overflow {
   height: 265px;
   overflow: hidden;
}

.hot-news .post-thumb {
   overflow: hidden;
   height: 70px;
}

.related-posts .position-relative {
   overflow: hidden;
   height: 170px;
}

p.Normal>img {
   width: 100%;
   border-radius: calc(0.25rem - 1px);
}

@media only screen and (max-width: 768px) {
.page-news .nav.nav-divider .nav-item + .nav-item:before {
      content: "";
      color: inherit;
      padding-left: 0px;
      padding-right: 0px;
      opacity: 0.8;
      font-size: 70%;
      color: #e1e1e1;
   }
}

.section-nav {
   font-weight: normal;
}

.post-item .post-thumb img {
   height: 200px;
}