.notification-item {
    background-color: #f6f6fc;
}
.notification-item:last-child {
    border-bottom: 0;
}
.notification-item.read {
    background-color: #fff;
}
.notification-item:hover {
    background-color: #f9f9fc;
}
.notification-item .icon {
    width: 18px;
    display: inline-block;
    position: relative;
    top: 1px;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.notification-item[data-key="new_order"] .icon:before {
    content: "\e028";
    color: #00a65a;
}
.notification-item[data-key="cancelled_order"] .icon:before {
    content: "\e209";
    color: #e98400;
}
.notification-item[data-key="failed_order"] .icon:before {
    content: "\e162";
    color: #e90805;
}
.notification-item[data-key="new_account"] .icon:before {
    content: "\e008";
    color: #248292;
}
.notification-item .timeago {
    color: #999999;
    font-size: 10px;
    position: absolute;
    right: 8px;
    top: 4px;
}