.view-first .mask {
	background-color: rgba(0,0,0,0);
}

.view .tools {
    margin: 0;
}

#image-popup-form li a .fa {
  visibility:hidden;
}
#image-popup-form li a.selected .fa{
    visibility:visible;
}
#image-popup-form .thumbnail.selected {
	border: solid 1px #000;
}

.table-checkable tr>td:first-child, .table-checkable tr>th:first-child {
	max-width: none;
	min-width: 90px;
}

.table td.center {
	text-align: center !important;
	vertical-align: middle !important;
}

.table td.left {
	text-align: left !important;
	vertical-align: middle !important;
	padding-left: 5px !important;
}

.table th {
	text-align: center;
	vertical-align: middle !important;
}

.hide {
	display: none;
}