.top-header .right-box .login-box form>.login-form .login-captcha, .top-header .right-box .login-box form>.login-form .login-submit {
    width: 100%;
}
.cart-table table .quantity-box input {
    width: 100px;
}

.register-block .form-group .form-control.phone-code {
    width: 30%;
}
.register-block .form-group .form-control.phone-number {
    width: 30%;
}

/* Common css */
.alias {cursor: alias;}
.all-scroll {cursor: all-scroll;}
.auto {cursor: auto;}
.cell {cursor: cell;}
.context-menu {cursor: context-menu;}
.col-resize {cursor: col-resize;}
.copy {cursor: copy;}
.crosshair {cursor: crosshair;}
.default {cursor: default;}
.e-resize {cursor: e-resize;}
.ew-resize {cursor: ew-resize;}
.grab {cursor: grab;}
.grabbing {cursor: grabbing;}
.help {cursor: help;}
.move {cursor: move;}
.n-resize {cursor: n-resize;}
.ne-resize {cursor: ne-resize;}
.nesw-resize {cursor: nesw-resize;}
.ns-resize {cursor: ns-resize;}
.nw-resize {cursor: nw-resize;}
.nwse-resize {cursor: nwse-resize;}
.no-drop {cursor: no-drop;}
.none {cursor: none;}
.not-allowed {cursor: not-allowed;}
.pointer {cursor: pointer;}
.progress {cursor: progress;}
.row-resize {cursor: row-resize;}
.s-resize {cursor: s-resize;}
.se-resize {cursor: se-resize;}
.sw-resize {cursor: sw-resize;}
.text {cursor: text;}
.url {cursor: url(myBall.cur),auto;}
.w-resize {cursor: w-resize;}
.wait {cursor: wait;}
.zoom-in {cursor: zoom-in;}
.zoom-out {cursor: zoom-out;}

a, a:hover {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

button:hover {
	cursor: pointer;
}

.top-header .right-box .main-nav ul li a {
	font-weight: inherit;
}
.top-header .right-box .main-nav ul li a.active {
	font-weight: bold;
}

/* Affiliate page */
#reflink .profit-filter {
    padding: 20px;
}

#reflink .profit-filter select {
    font-weight: bold;
    min-width: 200px;
    height: 34px;
    margin-right: 20px;
    padding: 0 20px;
}

#reflink .profit-filter span {
    margin-right: 20px;
}

#reflink .profit-amount {
    padding: 0 20px;
    font-size: 14px;
}

#reflink .profit-amount h3 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

#reflink .profit-notes {
    padding: 20px;
}

#reflink .profit-listing {}

#reflink .profit-listing table thead th {
    background: #707070;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-right: 1px solid #bcbcbc;
    text-align: center;
    padding: 9px 0;
}

#reflink .profit-listing table {
    width: 100%;
    margin-bottom: 50px;
    float: left;
}

#reflink .profit-listing table thead th:last-child {
    border-right: none;
}

#reflink .profit-listing table thead th .tool-tip {
    background: #fff;
    border-radius: 30px;
    color: #000;
    font-size: 12px;
    width: 20px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-left: 6px;
    cursor: pointer;
}
#reflink .profit-listing table tbody td {
    text-align: center;
    font-size: 18px;
    padding: 8px 0;
}
/* End Affiliate Page */